@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

/* 
:root is where you declare and initialize global vars that you can 
reuse throughout your stylesheet */

:root {
    --color-body: #ff0505;
    --color-heading: #fd2b2b;
    --color-base: #0d0e0e;
    --color-base2: #F7F6F7;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidebar-width: 240px;
    --font-base: "Urbanist";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand)
}

img {
    width: 100%;
}

/* NAVBAR*/
.navbar .nav-link {
    font-weight: 500;
    font-size: medium;
} 

.navbar .nav-link:hover {
    color: #676363;
}


.navbar img {
    padding-bottom: 10%;
    width: 90%;
    
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background-color: #f8f4f4;
        background-size: cover;
        background-position: center;

    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidebar-width);
    }




}



